.sub-dropdowm-menu {
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
}
.sub-dropdowm-menu-item {
  width: 160px;
  padding: 5px 12px;
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  line-height: 22px;
}
.sub-dropdowm-menu-item:hover {
  background: #e6f7ff;
}
.sub-dropdowm-menu-divider {
  height: 1px;
  overflow: hidden;
  background: #e8e8e8;
  line-height: 0;
}
.avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #c5c3c3;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  vertical-align: middle;
  margin: 0 4px;
}
.avatar img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'iconfont';
  /* project id 524894 */
  src: url('//at.alicdn.com/t/font_524894_ihfcrp1iwl2138fr.eot');
  src: url('//at.alicdn.com/t/font_524894_ihfcrp1iwl2138fr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_524894_ihfcrp1iwl2138fr.woff') format('woff'), url('//at.alicdn.com/t/font_524894_ihfcrp1iwl2138fr.ttf') format('truetype'), url('//at.alicdn.com/t/font_524894_ihfcrp1iwl2138fr.svg#iconfont') format('svg');
}
.anticon {
  font-family: 'iconfont';
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  color: #3c3c3c;
}

* {
  font-size: 14px;
  color: #3c3c3c;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
.admin-layout,
.app {
  background: #f0f2f5;
  width: 100%;
  height: 100%;
}
.layout-slider {
  background: #001529;
  color: #ffffff;
  width: 200px;
  height: 100%;
  float: left;
}
.layout-slider-children {
  height: 100%;
  width: 100%;
}
.logo-wrap {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
}
.logo-wrap img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}
.logo-wrap h1 {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.main-layout {
  position: relative;
  margin-left: 200px;
  height: 100%;
  left: 0;
  top: 0;
}
.main-layout-header {
  padding: 0 12px 0 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  height: 64px;
  line-height: 64px;
}
.anticon-menu-unfold {
  display: inline-block;
  padding: 0 26px;
  font-size: 16px;
  height: 100%;
  cursor: pointer;
}
.anticon-menu-unfold:hover {
  background: #e6f7ff;
}
.main-layout-header-right {
  float: right;
  height: 100%;
}
.ant-acount {
  display: inline-block;
  height: 100%;
  position: relative;
  padding: 0 16px;
  cursor: pointer;
}
.ant-acount .sub-dropdowm-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
}
.ant-acount:hover {
  background: #e6f7ff;
}
.ant-acount:hover .sub-dropdowm-menu {
  display: block;
}
